Source: s3cmd
Section: utils
Priority: optional
Maintainer: Michal Ludvig <mludvig@logix.net.nz>
Build-Depends: debhelper (>= 7), quilt (>= 0.40), python
Build-Depends-Indep: python-support (>= 0.6.4)
Standards-Version: 3.8.4
Homepage: http://s3tools.org/s3cmd

Package: s3cmd
Architecture: all
Depends: python (>= 2.5) | python-elementtree, ${python:Depends}, ${misc:Depends}
Description: The ultimate Amazon S3 and CloudFront command line client
 Command-line tool for uploading, retrieving and managing data in Amazon S3
 storage service. Also supports publishing to Amazon CloudFront. Designed for 
 power users, easy to use in scripts.
